<div class="shapedividers_com-4181">
</div>

<ion-content>
  <div *ngIf="question">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ question.text }} </ion-card-title>
        <img [src]="question.imagen">
        
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let option of question.options" (click)="selectOption(option)" class="animate__animated animate__fadeInDown">
            <ion-label>{{ option.text }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-progress-bar [value]="progress"></ion-progress-bar>
    <p>Tiempo restante: {{timer}}s</p>
  </div>
</ion-content>

