<ion-header >
  <ion-toolbar>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-avatar>
          <img src="assets/img/avatar.png" />
        </ion-avatar>
      </ion-buttons>
      <ion-title mode="md" class="ion-no-padding">
        <ion-label>
          <ion-text color="white">JAM</ion-text>
        </ion-label>
      </ion-title>
      <ion-buttons slot="end">
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="topic">
    ¡Pon aprueba tus conocimientos y demuestra que eres el mejor!
  </div>
  <ion-grid>
    <ion-row>

      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img [routerLink]="['/prueba-numeros']" [src]="'assets/img/numeros.png'" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center">Prueba de numeros </ion-label>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img [routerLink]="['/prueba-figuras']" [src]="'assets/img/figuras.png'" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center">Prueba de figuras </ion-label>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img [routerLink]="['/prueba-abecedario']" [src]="'assets/img/abecedario.png'" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center">Prueba de Abecedario </ion-label>
        </ion-card>
      </ion-col>

      <ion-col size="3">
        <ion-card>
          <ion-thumbnail>
            <img [routerLink]="['/prueba-colores']" [src]="'assets/img/colores.png'" />
          </ion-thumbnail>
          <ion-label class="ion-text-wrap ion-text-center">Prueba de Colores </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>Pruebassss</h1>
</ion-content>