<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-margin-top">
      <img src="/assets/img/logo2.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="shapedividers_com-4181">
</div>

<ion-content >
  <div class="ion-text-center" class="animate__animated animate__fadeInDown">
    <h4> ¡Pon aprueba tus conocimientos y demuestra que eres el mejor!</h4>
  </div>
  <ion-card mode="ios">
    <ion-card-content>
      <p class="space-between">
          <ion-button color="light" mode="md" class="ion-no-padding-btn" shape="round" [routerLink]="['/prueba-numeros']">
            <ion-icon name="play" color="primary"></ion-icon>
            <ion-label>Prueba de Numeros</ion-label>
            <img src="assets/img/numeros2-dragon.png" width="150px" height="150px">
          </ion-button>
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card mode="ios" class="animate__animated animate__fadeInDown">
    <ion-card-content>
      <p class="space-between">
          <ion-button color="light" mode="md" class="ion-no-padding-btn" shape="round" [routerLink]="['/prueba-colores']">
            <ion-icon name="play" color="primary"></ion-icon>
            <ion-label>Prueba de Colores</ion-label>
            <p>
              <img src="assets/img/colores2-dragon.png" width="150px" height="150px" style="border-radius: 20px;">
            </p>
          </ion-button>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" class="animate__animated animate__fadeInDown">
    <ion-card-content>
      <p class="space-between">
          <ion-button color="light" mode="md" class="ion-no-padding-btn" shape="round" [routerLink]="['/prueba-abecedario']">
            <ion-icon name="play" color="primary"></ion-icon>
            <ion-label>Prueba de Abecedario</ion-label>
            <img src="assets/img/abecedario2-dragon.png" width="150px" height="150px">
          </ion-button>
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" class="animate__animated animate__fadeInDown">
    <ion-card-content>
      <p class="space-between">
          <ion-button color="light" mode="md" class="ion-no-padding-btn" shape="round" [routerLink]="['/prueba-figuras']">
            <ion-icon name="play" color="primary"></ion-icon>
            <ion-label>Prueba de Fguras Geometricas</ion-label>
            <img src="assets/img/figuras2-dragon.png" width="150px" height="150px">
          </ion-button>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
